@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.charts{
  height:700px;
}
.view{
  margin:auto;
  height:1000px;
  width:100%;
}
#axis{
    font-weight: bold;
}

.hovered{
    stroke-width: 3;
}

.normal{
    stroke-width: 1;
}

.label{
  text-anchor: middle;
}

.main_title {
  font-size: 42px;
  font-weight: 900;
  font-family: 'Comic Sans MS';
  text-align: center;
  background-image: radial-gradient(circle, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.team_member {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI';
  text-align: right;
  background-image: repeating-radial-gradient(circle closest-corner at 100px 100px, #0b148b, #39c7eb 10%, #3c4ef3 20%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.no-display {
  display: none !important;
}
#header{
  margin: auto;
  height: 20%;
  width: 100%;
}
.extreme{
  position: relative;
  left: 40px;
  top:15px;
  display: inline-block;

  height:50px;
  width: 100px;
  fill: #ccc;
  border-radius: 5px;
  color: steelblue;
  border: 2px solid steelblue; /* Green */
  margin-top: 10px;
}

#extreme{
  z-index: 100;
}


/* Presentation stuff */
.holder {
  width: 400px;
  background: #efefef;
  padding: 30px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;  
  text-align: center;
}

h1 {
  font: 400 16px 'Open Sans';
  text-transform: uppercase;
  color: #999;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom: 30px;
} 
.showLine {
  text-align: center;
  background: #fcfcfc;
  box-shadow: 0px 15px 40px #ffffff;
  border-radius: 12px;
  border-color: transparent;
  height: 63px;
  width: 150px;
  font-size: 16px;
  position: absolute;
  top: 26%;
  left: 50%;
}

.showLine:hover {
  background: gray;
}
.page_select{
  width: 150px;
  height: 35px;
  line-height: normal;
  position: absolute;
  top: 26%;
  left: 65%;
  /* display: inline-block; */
}
/*checkbox选中显示option*/
.page_select #page_tt:checked + label + .page_option{
  display: block;
}
.page_select .page_tt{
   text-align: center;
   background: #fcfcfc;
   box-shadow: 0px 15px 40px #ffffff;
   padding-top: 23px;
   border-radius: 12px;
   color: #444444;
   display: block;     
   height: 40px;
   font-size: 16px;
}
.page_select .page_option{
  background: rgb(255, 255, 255);
  border-radius: 12px;
  overflow: hidden;
  display: none;
  position: absolute;
  width: 100%;
}
/*option的定位*/
.page_select label.sizenum
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*option hover的状态*/
.page_select label.sizenum:hover{
  background-color: #0cbfbe;
  color:#fff;
}

.page_select input[type="radio"],
.page_select input[type="checkbox"] {
  display: none;
}
/*option选中的状态*/
.page_select  input[type="radio"]:checked + label{
  background: #dddddd;
  color:#444444;
}


/* slider======================================= */
.slider {
  position:absolute; 
  left:25%;
  top:30%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 20px;
  padding: 20px;
  padding-left: 20px;
  background: #fcfcfc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 40px #ffffff;
}

.slider p {
  font-size: 16px;
  font-weight: 200;
  font-family: Open Sans;
  padding-left: 2px;
  color: black;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height: 15px;
  background: rgb(139, 33, 33);
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
}

